/* Caros */

@font-face {
	font-family: 'Caros';
	src: url('@/assets/fonts/Caros/CarosThin.woff2') format('woff2');
	font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Caros';
	src: url('@/assets/fonts/Caros/CarosLight.woff2') format('woff2');
	font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Caros';
	src: url('@/assets/fonts/Caros/Caros.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Caros';
	src: url('@/assets/fonts/Caros/CarosMedium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Caros';
	src: url('@/assets/fonts/Caros/CarosBold.woff2') format('woff2');
	font-weight: bold;
    font-style: normal;
    font-display: swap;
}