/*
    Main
*/

$BLACK: #000000;
$WHITE: #ffffff;

// Accent (body color)
$ACCENT_CARDAMON: #989954;
$ACCENT_JUPITER: #97a9a9;
$ACCENT_WALNUT: #726253;
$ACCENT_MILK: #f5f5f5;
$ACCENT_GRAPHIT: #252525;

// Paprica
$PAPRICA: #ad6253;
$PAPRICA_FADE: #FFEAE5;
$PAPRICA_CONTRASTED: #985447;
$PAPRICA_LIGHT: #dc8f81;
$PAPRICA_DEEP: #603731;
$PAPRICA_SHADOW: #341f1b;

// Cardamon
$CARDAMON: #989954;
$CARDAMON_FADE: #FFFFE4;
// $CARDAMON_CONTRASTED: #737440;
$CARDAMON_EXTRA-LIGHT: saturate(lighten($CARDAMON, 28%), 12%);
$CARDAMON_LIGHT: #b1b170;
$CARDAMON_DEEP: #777834;
$CARDAMON_SHADOW: #313126;

// Jupiter
$JUPITER: #97a9a9;
$JUPITER_FADE: #DFF1F1;
$JUPITER_EXTRA-LIGHT: #bdd9ff;
// $JUPITER_CONTRASTED: #5c6e6e;
$JUPITER_LIGHT: #b5c7c7;
$JUPITER_DEEP: #6e8585;
$JUPITER_SHADOW: #293030;

// Walnut
$WALNUT: #726253;
$WALNUT_FADE: #DDCFC2;
// $WALNUT_CONTRASTED: #726253;
$WALNUT_LIGHT: #9a8a7b;
$WALNUT_DEEP: #524133;
$WALNUT_SHADOW: #2e2822;

// Turmeric
$TURMERIC: #B2955B;
$TURMERIC_EXTRA-LIGHT: #ecd3a0;
$TURMERIC_FADE: #F8ECD4;
$TURMERIC_LIGHT: #CBB383;
$TURMERIC_DEEP: #887652;
$TURMERIC_SHADOW: #332E23;

// Gray
$GRAY_FADE: #ECECEC;
$GRAY: #6F6F6F;
$GRAY_LIGHT: #B4B4B4;
$GRAY_SOFT: #9F9F9F;
$GRAY_DEEP: #545454;
$GRAY_SHADOW: #222120;
$GRAY_DARK: #141413;

// Milk
$MILK: #f5f5f5;
$MILK_SHADOW: #b4b4b4;

// Graphite
$GRAPHITE: #252525;
$GRAPHITE_SHADOW: #0a0a0a;
